<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>RANDM</title>
    <link rel='stylesheet' href='/assets/css/style.css' />
  </head>
  <body>
    <div class='wrapper'>
      <header>
        <h1><a href='/'>RANDM</a></h1>
        <nav>
          {{#if loggedIn}}
            <a href='/dashboard'>dashboard</a>
            <button id='logout' class='btn-no-style'>logout</button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main>

      </main>
      <footer>

      </footer>
    </div>
    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}

  </body>
</html>