<div class="unlogged-page">
  <div class="logo">
    <img src="./assets/images/logo-dark.svg" alt="randm logo" />
  </div>
    <form class="login-form">
      <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">login</button>
      </div>
    </form>
</div>

<a href="/register">Want to sign up? Register here!</a>

<script src="/assets/js/login.js"></script>
