<form class='login-form'>
  <div>
    <label for='email-login'>email:</label>
    <input type='text' id='email-login' />
  </div>
  <div>
    <label for='password-login'>password:</label>
    <input type='password' id='password-login' />
  </div>
  <div>
    <button type='submit'>login</button>
  </div>
</form>

<form class='signup-form'>
  <div>
    <label for='username-signup'>username:</label>
    <input type='text' id='username-signup' />
  </div>
  <div>
    <label for='email-signup'>email:</label>
    <input type='text' id='email-signup' />
  </div>
  <div>
    <label for='password-signup'>password:</label>
    <input type='password' id='password-signup' />
  </div>
  <div>
    <label for='pronoun'>My Pronouns:</label>
    <select name='pronouns' id='pronouns'>
      <option value='she/her'>Female</option>
      <option value='he/him'>Male</option>
      <option value='they/them'>Transgender</option>
    </select>
  </div>
  <div>
    <label for='gender'>The Gender I identify with:</label>
    <select name='genders' id='genders'>
      <option value='female'>Female</option>
      <option value='male'>Male</option>
      <option value='transgender'>Transgender</option>
      <option value='non-binary'>Non-Binary</option>
    </select>
  </div>
  <div>
    <button type='submit'>signup</button>
  </div>
</form>

<script src='/javascript/login.js'></script>