<div class="unlogged-page">
  <div class="logo">
    <img src="/assets/images/logo-dark.svg" alt="randm logo" />
  </div>
  <div class="forms">
    <form class="register-form">
      <div>
        <label for="email-register">Email:</label>
        <input type="text" id="email-register"/>
      </div>
      <div>
        <label for="password-register">Password:</label>
        <input type="password" id="password-register"/>
      </div>
      <div>
        <label for="firstname-register">First Name:</label>
        <input type="text" id="firstname-register"/>
      </div>
      <div>
        <label for="lastname-register">Last Name:</label>
        <input type="text" id="lastname-register"/>
      </div>
      <div>
        <label for="birthday-register">Birthday:</label>
        <input type="text" id="birthday-register"/>
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
    <div class="form-message">
      Already have an account? <a href="/login">Login here!</a>
    </div>
  </div>
</div>

<script src="/assets/js/login.js"></script>